<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookApp</title>
    <link rel="icon" type="image/png" href="img/icons/icon_CookApp_yellow.png"/>
    <meta 
        name="author" 
        content="Manuel Rodriguez, Sergio Claustro, Noel Mora, Emiliano Cervantes" 
    />
    <meta
      name="keywords"
      content="CookApp, recetario, recetas, cocina, red social, comida"
    />
    <meta
      name="description"
      content="Red social sobre recetas donde la comunidad puede publicar y guardar recetas"
    />
    <link rel="stylesheet" href="css/home.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
    />
</head>
<body>

    <!-- Menu de navegacion -->
    <header>
        <img
          id="logo-menu"
          src="img/icons/icon_CookApp_white.png"
          alt="Logotipo CookApp"
        />
        <h1 id="title">CookApp<span>Cocina con nosotros</span></h1>
        <button class="panel-btn hamburger hamburger--vortex" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
    </header>
    <aside class="panel">
        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/browser">Buscador</a>
            <a href="/login">Iniciar sesion</a>
            <a href="/register">Registrarse</a>
            <a href="/about_us">Sobre nosotros</a>
            <a href="/contact">Contacto</a>
        </nav>
    </aside>

    <br><br>

    <div class="slider-container">
      <div class="slider">
        <ul>
          <li><img src="img/slider/1.png" alt="slider 1"/></li>
          <li><img src="img/slider/2.jpg" alt="slider 2"/></li>
          <li><img src="img/slider/3.jpg" alt="slider 3"/></li>
          <li><img src="img/slider/4.png" alt="slider 4"/></li>
        </ul>
      </div>
    </div>
    

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <script src="js/main_functions.js"></script>
</body>
</html>