<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookApp</title>
    <link rel="icon" type="image/png" href="img/icons/icon_CookApp_yellow.png"/>
    <meta 
        name="author" 
        content="Manuel Rodriguez, Sergio Claustro, Noel Mora, Emiliano Cervantes" 
    />
    <meta
      name="keywords"
      content="CookApp, recetario, recetas, cocina, red social, comida"
    />
    <meta
      name="description"
      content="Red social sobre recetas donde la comunidad puede publicar y guardar recetas"
    />
    <link rel="stylesheet" href="css/home.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
    />
</head>
<body>

    <!-- Menu de navegacion -->
    <header>
      <a href="/">
        <img
          id="logo-menu"
          src="img/icons/icon_CookApp_white.png"
          alt="Logotipo CookApp"
        />
      </a>
        <h1 id="title">CookApp<span>Cocina con nosotros</span></h1>
        <div class="user-icon">
          <a href="/profile" id="user-icon-link">
          </a>

          <% if (!user.profilePicUrl) { %>
            <script>
              document.getElementById('user-icon-link').innerHTML = `
              <svg width="46" height="46" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2ZM6.023 15.416C7.491 17.606 9.695 19 12.16 19c2.464 0 4.669-1.393 6.136-3.584A8.968 8.968 0 0 0 12.16 13a8.968 8.968 0 0 0-6.137 2.416ZM12 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
              </svg>`;
            </script>
          <% }else{ %>
            <script>
              // Cadena original
              let urlFailed = '<%= user.profilePicUrl %>';
              // Utilizamos una expresion regular para buscar 'profile_' y reemplazarlo con '/profile_'
              var finalUrl = urlFailed.replace(/profile_/g, "/profile_");
              document.getElementById('user-icon-link').innerHTML = `<img src="${finalUrl}" alt="Foto de perfil">`;
            </script>
          <% } %>
          
        </div>
        <button class="panel-btn hamburger hamburger--vortex" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
    </header>
    <aside class="panel">
        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/browser">Buscador</a>
            <a href="/profile">Perfil</a>
            <a href="/logout">Cerrar sesión</a>
            <a href="/about_us">Sobre nosotros</a>
            <a href="/contact">Contacto</a>
        </nav>
    </aside>

    <br><br>

    <div class="slider-container">
      <div class="slider">
        <ul>
          <li><img src="img/slider/1.png" alt="slider 1"/></li>
          <li><img src="img/slider/2.jpg" alt="slider 2"/></li>
          <li><img src="img/slider/3.jpg" alt="slider 3"/></li>
          <li><img src="img/slider/4.png" alt="slider 4"/></li>
        </ul>
      </div>
    </div>
    

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main_functions.js"></script>
</body>
</html>