@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(255, 239, 114);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
    --brown: #a52a2a;
    --orange: #ffa600;
    --light-gray: #737373;
}

.title-browser{
    width: 100vw;
    height: fit-content;
    padding: 15px 0;
    background-color: wheat;
    box-shadow: 0 0 20px 2px rgb(209, 209, 209);
}

.title-browser h1{
    font-family: "Poetsen One", sans-serif;
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: var(--brown);
    text-shadow: 0 0 3px var(--main-color);
}

.error-message-browser{
    width: 100vw;
    height: fit-content;
    padding: 15px;
    background-color: wheat;
    margin: 50px 0;
    box-shadow: 0 0 20px 2px rgb(209, 209, 209);
}

.error-message-browser p{
    font-family: "Poetsen One", sans-serif;
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: red;
    text-shadow: 0 0 3px var(--main-color);
}

form{
    background-color: wheat;
    width: 90vw;
    height: fit-content;
    padding: 15px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

form label{
    color: var(--brown);
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 3px var(--main-color);
    margin: 0 15px;
}

form select{
    background-color: transparent;
    color: var(--brown);
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--brown);
    margin: 0 15px;
    padding: 3px;
}

form input[type="text"]{
    background-color: transparent;
    color: var(--brown);
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--brown);
    margin: 0 15px;
    padding: 3px;
    width: 50%;
}

form button{
    background-color: transparent;
    outline: none;
    border: none;
    transition: all 0.2s;
}

form button:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px var(--main-color));
    transform: scale(1.125);
}