:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(255, 239, 114);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
    --brown: #a52a2a;
    --orange: #ffa600;
    --light-gray: #737373;
}


.container-body{
    display: flex;
}

/*Lado izquierdo del body que esta divido en dos*/
.left-side{
    width: 33%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #a52a2a, #bb3f29, #ce5526, #e06c20, #ef8417, #f69610, #fba807, #ffba03, #ffc90e, #ffd81b, #ffe729, #fff637);
}

.left-side img{
    width: 70%;
    height: auto;
    filter: drop-shadow(0px 0px 5px white);
}

/*Lado derecho del body que esta divido en dos*/
.right-side{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.email-password{
    width: 70%;
    height: fit-content;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--light-gray);
}

.title{
    color: var(--brown);
    display: flex;
    position: relative;
}

.title img{
    width: 50px;
    height: 50px;
}

.title h2{
    width: 100%;
    text-align: center;
    font-size: 40px;
    position: absolute;
}

.message{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.message h2{
    color: var(--brown);
    font-size: 25px;
}

.message span a{
    color: blue;
}

.word{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545454;
}

.middleWord{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}

.middleWord::before , .middleWord::after{
    content: "";
    height: 1px;
    background-color: #545454;
    color: #545454;
    display: block;
}

#registerForm{
    width: 80%;
    height: fit-content;
    margin: auto;
}

#registerForm label{
    color: var(--brown);
    font-weight: 600;
}

#registerForm label[for="politics"]{
    color: black;
    font-weight: 500;
}

#registerForm input[type="email"], #registerForm input[type="password"], #registerForm input[type="text"], #registerForm input[type="number"], #registerForm textarea, #registerForm select {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--brown);
    background-color: transparent;
    width: 80%;
    margin-left: 5%;
}

#registerForm textarea{
    resize: none;
}


#registerForm input[type="submit"]{
    text-align: center;
    display: block;
    background-color: var(--main-color);
    width: 33%;
    font-size: 1rem;
    padding: 1.2px;
    margin: 10px auto;
    color: var(--brown);
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--second-color);
    border: 2px solid white;
    transition: all 0.2s;
}


#registerForm input[type="submit"]:hover{
    color: var(--main-color);
    background-color: var(--brown);
    cursor: pointer;
    transform: scale(1.125);
}